:root {
    --purple: purple;
    --lightpurple: rgb(230, 136, 230);
    --white: white;
}

button {
    border: none;
    background: var(--purple);
    color: var(--white);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px;
}

button:hover {
    transition-duration: 0.5s;
    background: var(--lightpurple);
}

#quiz {
    text-align: center;
}

#nav {
    background: var(--purple);
    color: var(--white);
}

#nav a {
    color: var(--white);
}
